{% extends "base.html.twig" %}
{#_template.html.twig #}
{# hérite de base.html.twig  et ecrase le contenu du bloc "body" #}

{#défini dans le template parent#}
{% block body %}
    {# Menu qui sera affiché sur toutes les pages du Front-Office #}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ANNONCEO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">categorie1</a>
                        <a class="dropdown-item" href="#">2</a>
                        <div class="dropdown-divider">3</div>
                        <a class="dropdown-item" href="#">4</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                {# si l'utilisateur est déjà connecté #}
                {% if app.user %}
                    <div class="notification is-info">
                        <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="#" >{{ app.user.username }}</a>
                        <a class="btn btn-outline-success my-2 my-sm-0 ml-2" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </div>
                {% else %}
                <a class="btn btn-outline-success my-2 my-sm-0 ml-2" href="{{ path('app_register') }}" role="button">Inscription</a>

                <a class="btn btn-outline-success my-2 my-sm-0 ml-2" href="{{ path('app_login') }}" role="button">Connexion</a>
{% endif %}
            </form>

        </div>
    </nav>

    {% block content %}

    {% endblock %}

{% endblock %}
